@page
@using BuildYourBowl.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="pageHeader">Welcome To Build Your Bowl!</h1>
<p class="pageDescription">This is NOT Chipotle. Guacamole IS NOT an extra $2 here.</p>

<nav class="navPages">
    <ul>
        <li><a href="#entrees">Entrees</a></li>
        <li><a href="#sides">Sides</a></li>
        <li><a href="#drinks">Drinks</a></li>
        <li><a href="#kidsmeals">Kids Meals</a></li>
    </ul>
</nav>

<form id="menu-database">
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms"/>
        <input type="submit" value="Search">
    </div>

    <div id="filters">
        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="100" step=".1" placeholder="min" value="@Model.PriceMin"/>
            and
            <input name="PriceMax" type="number" min="0" max="100" step=".1" placeholder="max" value="@Model.PriceMax"/>
        </div>

        <h4>Calories</h4>
        <div>
            Between
            <input name="CaloriesMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CaloriesMin"/>
            and
            <input name="CaloriesMax" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.CaloriesMax"/>
        </div>
    </div>
</form>

<h3 class="menuItemHeaders" id="entrees">Entrees</h3>
@foreach (Entree entree in Model.entreesList)
{
    <table class="menuItemTable">
        <tr>
            <th>@entree.Name</th>
        </tr>
        @foreach (string prepInfo in entree.PreparationInformation)
        {
            <tr>
                <td>@prepInfo</td>
            </tr>
        }
        <tr>
            <td>Price: $@entree.Price</td>
        </tr>
        <tr>
            <td>Calories: @entree.Calories</td>
        </tr>
    </table>
}

<h3 class="menuItemHeaders">Ingredients</h3>
<table class="ingredientsTable">
    <tr>
        <th>Name</th>
        <th>Calories</th>
        <th>Additional Cost (build-your-owns)</th>
@foreach (Ingredient ingredient in Model.Ingredients)
{
    IngredientItem item = new IngredientItem(ingredient);
    
        <tr>
            <td>@item.Name</td>
            <td>@item.Calories</td>
            <td>$@item.UnitCost</td>
        </tr>
}
</table>

<table class="ingredientsTable">
    <tr>
        <th>Salsa Choice</th>
    </tr>
@foreach (Salsa salsa in Model.Salsas)
{
    <tr>
        <td>@salsa.ToString()</td>
    </tr>
}
</table>

<h3 class="menuItemHeaders" id="sides">Sides</h3>
@foreach (Side side in Model.sidesList)
{
    <table class="menuItemTable">
        <tr>
            <th>@side.Name</th>
        </tr>
        @foreach (string prepInfo in side.PreparationInformation)
        {
            <tr>
                <td>@prepInfo</td>
            </tr>
        }
        <tr>
            <td>Price: $@side.Price</td>
        </tr>
        <tr>
            <td>Calories: @side.Calories</td>
        </tr>
    </table>
    
}

<h3 class="menuItemHeaders" id="drinks">Drinks</h3>
@foreach (Drink drink in Model.drinksList)
{
    @foreach (string prepInfo in drink.PreparationInformation)
    {
        <table class="menuItemTable">
            <tr>
                <th>@drink.Name</th>
            </tr>
            <tr>
                <td>@prepInfo</td>
            </tr><tr>
        <td>Price: $@drink.Price</td>
            </tr>
            <tr>
                <td>Calories: @drink.Calories</td>
            </tr>
        </table>
    }
        
}

<h3 class="menuItemHeaders" id="kidsmeals">Kids Meals</h3>
@foreach (KidsMeal kidsMeal in Model.kidsMealsList)
{
    @foreach (string prepInfo in kidsMeal.PreparationInformation)
    {
        <table class="menuItemTable">
            <tr>
                <th>@kidsMeal.Name</th>
            </tr>
            <tr>
                <td>@prepInfo</td>
            </tr>
            <tr>
                <td>Price: $@kidsMeal.Price</td>
            </tr>
            <tr>
                <td>Calories: @kidsMeal.Calories</td>
            </tr>
        </table>
    }
}